body {


  font-family: 'Open Sans', sans-serif;
    max-width: 90%;
    margin: auto;
   
    background-image: url(Images/pexels-dom-j-310452.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom right;
  opacity: 0.8;
}


h1 {
  background-color: rgba(255, 238, 0, 0.801);
  opacity: 0.8;
}

p {
    font-family: serif;
    letter-spacing: 0.1em;
    color: rgba(0, 0, 0, 0.801);
}


a {
    color: rgba(0, 0, 0, 0.801);
    text-decoration: none;
    

}


a:link {
    background-color: rgba(255, 238, 0, 0.801);
    text-decoration: none;
    color: black;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 50%;
  }
  
  a:visited {
    background-color: rgb(229, 255, 0);
    text-decoration: none;
    color: black;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 50%;
  }
  
  a:hover {
    background-color: lightgreen;
    text-decoration: none;
  }
  
  a:active {
    background-color: hotpink;
    text-decoration: none;
  } 


  table {
    border-style: solid;
    
  }

  td {
    border-style: solid;
  }

  .farmer {
    color: red;
  }


  .villagers {
    color: rgb(43, 76, 226);
  }


.good {
text-transform: capitalize;
color: green;
}

.bad {
text-transform: capitalize;
color: red;
}

.firstparagraph {
  font-weight: bold;
}